.contacts {
  padding: 120px 0;

  @include vp-1023 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 56px 0 65px;
  }
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  align-items: center;

  @include vp-1023 {
    gap: 30px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column-reverse;
    gap: 0;
  }
}

.contacts__map-wrapper {
  width: 100%;
  height: 306px;

  @include vp-1023 {
    height: 335px;
  }

  @include vp-767 {
    height: 316px;
  }
}

.contacts__text-wrapper {
  padding-left: 60px;

  @include vp-1023 {
    padding: 0;
  }
}

.contacts__text {
  margin: 5px 0 27px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  @include vp-1023 {
    margin: 2px 0 26px;

    br {
      display: none;
    }
  }

  @include vp-767 {
    margin-bottom: 27px;
  }
}

.contacts__address,
.contacts__phone {
  display: flex;

  svg {
    margin: 5px 10px 5px 0;
    flex-shrink: 0;
  }

  p,
  a {
    margin: 0;
    align-self: center;
    font-style: normal;
  }
}

.contacts__address {
  margin-bottom: 14px;

  @include vp-1023 {
    margin-bottom: 17px;
  }
}

.contacts__phone {
  @include vp-767 {
    margin-bottom: 32px;
  }

  &:hover {
    opacity: 0.8;
  }
}
